.absen{
    position: relative;
}
.absen:after{
    content:'|';
    position: absolute;
    color:white;
    right: 0;
    background-color: rgb(3, 3, 160);;
    width: 100%;
    height: 80px;
    animation:ketik 6s steps(14)infinite;
}

@keyframes ketik {
    to {
        width: 0%;
    }
              
}