{%extends 'base.html'%}
{%load static%}

{%block konten%}
<div class="d-flex align-items-center p-3 mb-3 text-white bg-success shadow-sm">
  <img class="me-3" src="{%static '/img/logo.png'%}"  width="40" height="49">
  <div class="lh-1">
    <a href="{%url 'home'%}" style="text-decoration: none;"><h1 class="h6 mb-0 text-white lh-1">PENGADILAN NEGERI</h1></a>
    <small>Selong</small>
  </div>
</div>

<div class="container">
  <!-- header -->
  <div class="text-center my-5">
    <h1 class="fw-bold text-success">JADWAL SIDANG </h1>
    <h3 style="color:rgb(62, 63, 63);">Hai...<span style="font-weight:bold;">{{user}}</span> 👋🏻 Selamat Datang!</h3>

    <a class="btn" href="{% url 'logout'%}">Logout</a>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div id="waktu" style="font-size: 25px;  font-weight: bold;"></div>
          <p id="time" style="font-size: 25px;  font-weight: bold;"></p>
          <div class="">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Cari Jadwal" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Cari</button>
            </form>
          </div>
        </div>
        <!-- tabel jadwal -->
        <div class="text-success">
        <table class="table table-striped  table-bordered mt-5">
          <thead>
            <tr class="table-dark text-center">
              <th scope="col">NO</th>
              <th scope="col">TGL DAFTAR</th>
              <th scope="col">TGL SIDANG</th>
              <th scope="col">NO  PERKARA</th>
              <th scope="col">JENIS PERKARA</th>
              <th scope="col">PENGGUGAT</th>
              <th scope="col">TERGUGAT</th>
              <th scope="col">SIDANG KELILING</th>
              <th scope="col">RUANGAN</th>
              <th scope="col">AGENDA</th>
            </tr>
          </thead>
          <tbody>
            {%for data in datas%}
            <tr class="">
              <th scope="row" class="text-center">{{forloop.counter}}</th>
              <td class="text-success">{{data.created}}</td>
              <td class="text-success">{{data.tgl}}</td>
              <td class="text-success">{{data.noPerkara}}</td>
              <td class="text-success">{{data.jenisPerkara}}</td>
              <td class="text-success">{{data.penggugat}}</td>
              <td class="text-success">{{data.tergugat}}</td>
              <td class="text-success" class="text-center">{{data.sidangKeliling}}</td>
              <td class="text-success">{{data.ruangan}}</td>
              <td class="text-success">{{data.agenda}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table> 
        </div>
        
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

</div>
<script>
  // tanggal
  var hari = new Date('2023-03-24');
  document.getElementById("waktu").innerHTML =  hari.toDateString();
</script>

<script>
  // jam
  let time = document.getElementById("time");
      setInterval(() => {
          let jam  = new Date();
          time.innerHTML = jam.toLocaleTimeString();
        },100
      )
</script>
{%endblock konten%}