{%extends 'base.html'%}
{%load static%}

{%block konten%}
<div class="container">
   <!-- sweet alert -->
   {%for message in messages%}
   {% if message.tags == 'success' %}                     
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>                                            
   <script>
       var m="{{message}}";
       swal("Login",m,"success");
   </script>
   {% endif %}
   {%endfor%}

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{%static '/img/PENGADILAN_AGAMA.png'%}" alt="" width="100" height="110">
        <h1 class="display-5 fw-bold">PENGADILAN AGAMA</h1>
        <h3 class="text-success">SELONG KELAS 1 B</h3>
        <h2></h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Sistem Penelusuran Perkara (SIPP), merupakan aplikasi administrasi dan penyediaan informasi perkara baik untuk pihak internal pengadilan, maupun pihak eksternal pengadilan. Pengunjung dapat melakukan penelusuran data perkara (jadwal sidang sampai dengan putusan) melalui aplikasi ini.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{%url 'jadwal:sidang'%}" class="btn btn-success btn-lg px-4 gap-3">Jadwal Sidang</a>
            <a href="{%url 'login'%}"  class="btn btn-outline-secondary btn-lg px-4">Login</a>
          </div>
        </div>
      </div>
</div>
{%endblock konten%}